[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
molten = "*"
invoke = "*"
gunicorn = "*"
pytest = "*"
sqlalchemy = "*"
"psycopg2" = "*"
alembic = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
